html {
  scroll-padding-top: 230px;
}
main{
  height: 100vh;
  width: 100%;
}
header{
  width: 100%;
  height: 10vh;
  background: #4682B4;
  display: flex;
  justify-content: center;
}
.logo{
  height: 10vh;
}
nav {
  width: 100%;
  background: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 10px;
}
nav li{
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #B0E0E6;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.3s;
}
nav a:hover {
  color: #4682B4;
}
section{
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 20px;
  background: #708090;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

article{
  display: grid;
  place-items: center;
  padding: 15px;
}
.card {
  background: #B0E0E6;
  color: #000;
  margin: 1%;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
  background: #4682B4;
  color: #B0E0E6; 
}
.pequeno{
  width: 30%;
}
.grande{
  width: 46%;
}
.full{
  width: 65%;
}
.pfull {
  display: flex;
  line-height: 1.5;
  font-size: 1em;

}
.pfullum{
  text-align: center;
  width: 40%;
}
.pfulldois{
  text-align: left;
  margin-left: 5%;
}

.um h1,.dois h1, .tres h1,.quatro h1, .cinco h1{
  font-size: 2.2em;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 1em;
  text-align: center;
  line-height: 1.5;
  color: #1C1C1C;
}

footer{
  width: 100%;
  height: 13vh;
  background: #696969;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  background: #4682B4;
  color: #B0E0E6; 
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  font-size: 1.2em;
}
button:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
  background: #B0E0E6;
  color: #000;
}

@media (max-width: 768px) {

main {
  min-height: 100vh;
}

nav ul {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

section {
  flex-direction: column;
  padding: 10px;
}

.card, .grande, .pequeno, .full {
  width: 100%;
}

.logo {
  height: 60px;
}

.pfull {
  flex-direction: column;
  align-items: center;
}

.pfullum, .pfulldois {
  width: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

}